@model Category
@{
    ViewBag.PageTitle = "Category Managment";
    ViewBag.CardTitle = "Category";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<form method="post" asp-action="Create">
    <div class="mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-action="Index" asp-controller="CategoryController1" class="btn btn-warning">Return to index</a>

</form>
@section Scripts{
    <partial name="_ValidationScriptsPartial" /> 
}